.toc__element {
    padding: 8px 20px;
    box-sizing: content-box;
    font-size: 13px;
    line-height: 20px;
    cursor: pointer;
}

.toc__element-inner {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 20px;
}

.toc__element:hover {
    background-color: rgba(25, 25, 28, 0.05);;
}

.toc__element-icon-wrapper {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.toc__element-icon {
    rotate: -90deg;
    transition: 0.15s ease-out;
}

.toc__element-icon--rotate {
    rotate: 0deg;
}
